@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to woe sheets */
.woe .item-form {
  font-family: "Roboto", sans-serif;
}
.woe .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.woe .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.woe .sheet-header .header-fields {
  flex: 1;
}
.woe .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.woe .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.woe .sheet-tabs {
  flex: 0;
}
.woe .sheet-body,
.woe .sheet-body .tab,
.woe .sheet-body .tab .editor {
  height: 100%;
}
.woe .tox .tox-editor-container {
  background: #fff;
}
.woe .tox .tox-edit-area {
  padding: 0 8px;
}
.woe .resource-label {
  font-weight: bold;
}
.woe .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.woe .items-header > * {
  font-size: 14px;
  text-align: center;
}
.woe .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.woe .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.woe .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.woe .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.woe .items-list .item-name h3, .woe .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.woe .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.woe .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.woe .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.woe .items-list .item:last-child {
  border-bottom: none;
}
.woe .items-list .item .item-name {
  color: #191813;
}
.woe .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.woe .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.woe .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.woe .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.woe .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.woe .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.woe .effects .item .effect-source,
.woe .effects .item .effect-duration,
.woe .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.woe .effects .item .effect-controls {
  border: none;
}

/* Tabs */
.woe .tabs {
  display: flex;
  margin-bottom: 10px;
}

.woe .tabs .item {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.woe .tabs .item.active {
  border-bottom: 2px solid var(--color-primary);
}

.woe .tab {
  display: none;
}

.woe .tab.active {
  display: block;
}


.selected {
  background-color: #4CAF50; /* or any color for highlighting */
  color: white;
  border: 2px solid #45a049;
}

.color-malus {
  color: #a0a0a0;  /* Pastel grey */
}

.color-neutral {
  color: #f5e665;  /* Pastel yellow */
}

.color-bonus {
  color: #66c266;  /* Pastel green */
}

.color-critical {
  color: #ff6666;  /* Pastel red */
}

.result-gain {
  color: #00b300;  /* Distinct bright green for Gain */
  font-weight: bold;  /* Bold */
}

.result-setback {
  color: #505050;  /* Distinct dark grey for Setback */
  font-weight: bold;  /* Bold */
}

.greyed-out {
  background-color: #d3d3d3; /* Light grey background */
  color: #6e6e6e; /* Darker grey text */
  border: 1px solid #a9a9a9; /* Medium grey border */
  opacity: 1; /* Full opacity to make sure it's visible */
  cursor: not-allowed; /* Disable pointer */
  pointer-events: none; /* Disable clicking */
}

/* synergy tracker CSS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.synergy-tracker {
    background-color: #f0f0f0; /* Fond doux et clair */
    color: #333; /* Texte en noir doux */
    padding: 15px;
    border-radius: 8px;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.synergy-chip {
    background-color: #c7e8ca; /* Vert pastel */
    color: #333; /* Texte noir doux */
    border: 2px solid #8ec58f; /* Bordure verte pastel */
    border-radius: 50%; /* Forme de jeton */
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px auto;
    font-size: 1.2em;
    font-weight: bold;
}

.generate-synergy-section {
    text-align: center;
    margin-bottom: 15px;
}

.generate-button {
    background-color: #ffc1c1; /* Rouge pastel */
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.generate-button:hover {
    background-color: #e3a1a1; /* Rouge pastel foncé */
}

.synergy-controls-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.control-button {
    background-color: #c1e1ff; /* Bleu pastel */
    color: #333;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.control-button:hover {
    background-color: #a1cde3; /* Bleu pastel foncé */
}

.increment-controls-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.square-button {
    background-color: #f5e665; /* Jaune pastel */
    color: #333;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.square-button:hover {
    background-color: #e3d454; /* Jaune pastel foncé */
}

.items-list .item {
    margin: 5px 0;
    padding: 5px;
    background-color: rgba(200, 200, 200, 0.1);
    border-radius: 4px;
    color: #333;
    border: 1px solid #ddd;
}

/* Fond du modal harmonisé avec le Synergy Tracker */
.dialog-synergy-modal .modal-container {
  background-color: #f0f0f0; /* Applique la même couleur de fond que le Synergy Tracker */
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* Titre du groupe avec alignement amélioré */
.group-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px; /* Ajoute un espace entre le titre et les cases à cocher */
  text-align: left;
  display: block; /* Positionne le titre au-dessus des cases à cocher */
}

/* Suppression de l'arrière-plan des cases à cocher */
.synergy-modal .character-checkbox label {
  background-color: transparent; /* Pas de fond pour les cases à cocher */
  color: #333;
  padding: 5px;
  cursor: pointer;
}

/* Boutons pour correspondre aux boutons du Synergy Tracker */
.dialog-button {
  background-color: #c1e1ff; /* Bleu pastel doux pour les boutons */
  color: #333;
  padding: 8px 16px;
  border: 2px solid #a1cde3; /* Bordure bleu pastel */
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.dialog-button:hover {
  background-color: #a1cde3; /* Bleu pastel foncé au survol */
}

/* Style pour le bouton Calculate Synergy */
.calculate-button {
  background-color: #ffc1c1; /* Rouge pastel pour calculer */
  color: #333;
  border: 2px solid #e3a1a1; /* Bordure rouge pastel */
  padding: 8px 16px;
  border-radius: 8px;
}

.calculate-button:hover {
  background-color: #e3a1a1; /* Rouge pastel foncé au survol */
}

/* Style pour le bouton Cancel */
.cancel-button {
  background-color: #c1e1ff; /* Bleu pastel pour le bouton d'annulation */
  color: #333;
  border: 2px solid #a1cde3; /* Bordure bleu pastel */
  padding: 8px 16px;
  border-radius: 8px;
}

.cancel-button:hover {
  background-color: #a1cde3; /* Bleu pastel foncé au survol */
}

.modal-background {
  background-color: #f4f4e8; /* Fond beige ou blanc cassé utilisé dans le Synergy Tracker */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.character-checkbox {
  margin: 5px 0; /* Space between checkboxes */
}

.character-checkbox label {
  font-weight: bold; /* Make the labels bold */
}
