@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to woe sheets */
.woe .item-form {
  font-family: "Roboto", sans-serif;
}
.woe .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.woe .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.woe .sheet-header .header-fields {
  flex: 1;
}
.woe .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.woe .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.woe .sheet-tabs {
  flex: 0;
}
.woe .sheet-body,
.woe .sheet-body .tab,
.woe .sheet-body .tab .editor {
  height: 100%;
}
.woe .tox .tox-editor-container {
  background: #fff;
}
.woe .tox .tox-edit-area {
  padding: 0 8px;
}
.woe .resource-label {
  font-weight: bold;
}
.woe .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.woe .items-header > * {
  font-size: 14px;
  text-align: center;
}
.woe .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.woe .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.woe .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.woe .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.woe .items-list .item-name h3, .woe .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.woe .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.woe .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.woe .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.woe .items-list .item:last-child {
  border-bottom: none;
}
.woe .items-list .item .item-name {
  color: #191813;
}
.woe .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.woe .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.woe .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.woe .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.woe .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.woe .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.woe .effects .item .effect-source,
.woe .effects .item .effect-duration,
.woe .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.woe .effects .item .effect-controls {
  border: none;
}

/* Tabs */
.woe .tabs {
  display: flex;
  margin-bottom: 10px;
}

.woe .tabs .item {
  margin-right: 10px;
  padding: 5px 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.woe .tabs .item.active {
  border-bottom: 2px solid var(--color-primary);
}

.woe .tab {
  display: none;
}

.woe .tab.active {
  display: block;
}


.color-malus {
  color: #a0a0a0;  /* Pastel grey */
}

.color-neutral {
  color: #f5e665;  /* Pastel yellow */
}

.color-bonus {
  color: #66c266;  /* Pastel green */
}

.color-critical {
  color: #ff6666;  /* Pastel red */
}

.result-gain {
  color: #00b300;  /* Distinct bright green for Gain */
  font-weight: bold;  /* Bold */
}

.result-setback {
  color: #505050;  /* Distinct dark grey for Setback */
  font-weight: bold;  /* Bold */
}

.greyed-out {
  background-color: #d3d3d3; /* Light grey background */
  color: #6e6e6e; /* Darker grey text */
  border: 1px solid #a9a9a9; /* Medium grey border */
  opacity: 1; /* Full opacity to make sure it's visible */
  cursor: not-allowed; /* Disable pointer */
  pointer-events: none; /* Disable clicking */
}

/* Synergy Tracker CSS */

/* Synergy Tracker CSS */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.synergy-tracker-container {
  font-family: 'Roboto', sans-serif;
  padding: 15px;
  border-radius: 10px;
}

.synergy-circle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.synergy-controls {
  display: flex;
  flex-direction: column;
}

.synergy-values {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #f0f0f0;
  font-size: 24px;
  font-weight: bold;
}

.synergy-current, .synergy-max {
  padding: 0 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pool-controls, .group-members, .maneuver-section {
  margin-bottom: 20px;
}

.member-item {
  position: relative; /* Permet le positionnement absolu du bouton */
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
}

.member-name {
  font-weight: bold; /* Mettre le nom en gras */
}

.remove-member {
  position: absolute;
  right: 10px; /* À quelques pixels de la bordure droite */
  width: 20px;
  height: 20px;
  background-color: red;
  color: white; /* Couleur du "-" */
  border: none;
  border-radius: 50%; /* Rend le bouton circulaire */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px; /* Taille du symbole "-" pour une meilleure visibilité */
}

.remove-member:hover {
  background-color: darkred; /* Changer la couleur lors du survol */
}
.member-item:hover {
  background-color: #e0e0e0;
}

.member-item.selected {
  background-color: #4CAF50 !important;
  color: white !important;
  border: 2px solid #45a049 !important;
}

#reset-max-value {
  background-color: #f44336;
}

.synergy-cost {
  font-size: 1rem; /* Taille plus grande pour rendre le coût plus visible */
  font-weight: bold;
  text-align: center;
  margin: 15px 0;
  padding: 10px;
  background-color: #f0f0f0; /* Couleur de fond douce */
  border-radius: 8px;
  border: 2px solid #4CAF50; /* Bordure cohérente avec le reste du design */
}

.group-members-container {
  position: relative;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  margin-bottom: 15px;
}

.add-member-container {
  display: flex;
  justify-content: flex-end; /* Aligne le bouton "Add Members" à droite */
  margin-bottom: 10px; /* Ajouter un espace entre le bouton et la liste des membres */
}

.add-member {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

.add-member:hover {
  background-color: #45a049; /* Couleur un peu plus foncée au survol */
}