<form id="actor-sheet-form">
  <h1>Character Sheet</h1>

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{system.name.value}}" required />
  </div>

  <div>
    <label for="element">Element:</label>
    <select id="element" name="element">
      <option value="Pas de maîtrise élémentaire" {{#if (eq system.element.value "Pas de maîtrise élémentaire")}}selected{{/if}}>Pas de maîtrise élémentaire</option>
      <option value="Fire" {{#if (eq system.element.value "Fire")}}selected{{/if}}>Fire</option>
      <option value="Water" {{#if (eq system.element.value "Water")}}selected{{/if}}>Water</option>
      <option value="Earth" {{#if (eq system.element.value "Earth")}}selected{{/if}}>Earth</option>
      <option value="Air" {{#if (eq system.element.value "Air")}}selected{{/if}}>Air</option>
    </select>
  </div>

</form>
