<div class="opportunity-card" data-id="{{opportunity.id}}">
    <div class="opportunity-points-circle">
        <span class="points-value">{{opportunity.points}}</span>
    </div>
    <div class="opportunity-content">
        <input type="text" class="opportunity-name" value="{{opportunity.name}}" placeholder="Opportunity Name"/>
        <div class="opportunity-controls">
            <button class="opportunity-increment" title="Add Point">
                <i class="fas fa-plus"></i>
            </button>
            <button class="opportunity-decrement" title="Remove Point">
                <i class="fas fa-minus"></i>
            </button>
            <button class="delete-opportunity" title="Delete Opportunity">
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
</div>